:root {
  --primary-color: #87CEEB;
  --secondary-color: #FFB6C1;
  --navbar-color: #2B4162;
  --navbar-color-light: #ccdcee;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--navbar-color);
  color: white;
  max-height: 50px;
  border-radius: 10px;
  width: 70%;
  left: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  position: absolute;
  display: flex;
  align-items: center;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .title {
    font-size: 16px;
  }
}

@media (max-width: 810px) {
  .title {
    visibility: hidden;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.link:hover {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--navbar-color);
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: var(--navbar-color);
  color: white;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

table tr:hover {
  background-color: var(--navbar-color-light);
}

table caption {
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}

.label {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 15px;
  display: inline-block;
  color: #666;
}

.label.M:hover {
  background-color: var(--primary-color);
  color: #14a8e2;
}

.label.F:hover {
  background-color: var(--secondary-color);
  color: #ff4e68
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--navbar-color);
  color: white;
  border: none;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.linage {
  fill: none;
  stroke: black;
}
.marriage {
  fill: none;
  stroke: black;
}
.node {
  background-color: white;
  border-style: solid;
  border-width: .5px;
}
.node.M {
  background-color: lightblue;
}
.node.F {
  background-color: pink;
}
.node.selected {
  background-color: yellow !important;
}
.nodeDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nodeText {
  font: 10px sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 3px;
}
.marriageNode {
  background-color: black;
  border-radius: 50%;
}